---
layout: archive
title: "Portfolio"
permalink: /uav/
author_profile: true
---
y academic research falls into two main areas: understanding the influence of
geography on actor behavior before, during, and after civil conflict, and
developing new tools to improve the study of institutions (both formal and
informal) in peace and conflict.

{% include base_path %}

!{% assign ordered_pages = site.uav | sort:"order_number" %}

{% for post in site.uav %}
  {% include archive-single.html type="grid" %}
{% endfor %}
