<!-- New style rendering if publication categories are defined -->
<div class="news">
  {% assign news_files = site.static_files | where: "dir", "/_news" %}
  {% if news_files != blank %}
    {% assign news_size = news_files | size %}
    <div
      class="table-responsive"
      {% if include.limit and site.announcements.scrollable and news_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign news = news_files | reverse %}
        {% if include.limit and site.announcements.limit %}
          {% assign news_limit = site.announcements.limit %}
        {% else %}
          {% assign news_limit = news_size %}
        {% endif %}
        {% for file in news limit: news_limit %}
          {% capture file_content %}{{ file | read_static_file }}{% endcapture %}
          {% assign front_matter_end = file_content | split: '---' | slice: 1, 1 %}
          {% assign front_matter = front_matter_end[0] | strip %}
          {% assign post_content = file_content | split: '---' | last | strip %}
          {% assign front_matter_data = front_matter | parse_yaml %}

          <tr>
            <th scope="row" style="width: 20%">{{ front_matter_data.date | date: '%b %d, %Y' }}</th>
            <td>
              {% if front_matter_data.inline %}
                {{ post_content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ file.path | relative_url }}">{{ front_matter_data.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
