---
title: "CARG Health Devices: <br/>Emotion Recognition"
excerpt: "Machine learning and signal processing for emotion recognition  <br/><img src='/images/500x300.png'>"
collection: health-devices
papertopic: AI
author_profile: true
layout: archive
---



<div class="content-container">
  <h2>Motivation</h2>

  <!-- Section: Papers -->
  <section id="publications">
    <h2>Research Papers</h2>
    <div class="paper-grid">
      {% assign topic_papers = site.publications | where_exp: "item", "item.papertopic contains page.papertopic" %}
      {% for paper in topic_papers %}
        <div class="image-text-container">
          <img width="100" src="{{ paper.image }}" alt="{{ paper.title }}">
          <div class="text-content">
            <h3>{{ paper.title }}</h3>
            <p>By {{ paper.author }} ({{ paper.date | date: "%Y-%m-%d" }})</p>
            <a href="{{ paper.url }}" class="btn">Read More</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- Section: Researchers -->
<section id="people">
  <h2>Researchers</h2>
  <div class="researcher-grid">
    {% assign field_researchers = site.people | where_exp: "item", "item.field contains page.papertopic" %}
    {% for researcher in field_researchers %}
      <div class="researcher-card">
        <img width="100" src="{{site.baseurl}}/images/people/{{researcher.avatar}}" alt="{{ researcher.name }} class="float-image"">
        <h3>{{ researcher.name }}</h3>
        <p>{{ researcher.bio }}</p>
      </div>
    {% endfor %}
  </div>
</section>
</div>
