---
title: "CARG Health Devices: Simulation and Modeling of Physiological Devices and Systems"
excerpt: "Model-based biomedical research  <br/><img src='/images/MedicalDeviceModeling.png'>"
collection: health-devices
papertopic: Biomedical
author_profile: true
layout: archive
---
<div style="float: right; margin: 0 0 10px 10px;">
  <img src="/images/MedicalDeviceModeling.png" alt="Modeling and Simulation" width="400"/>
</div>


The CARG team works on creating simulations and models for health-related devices and systems. Our goal is to make biomedical devices work better and more efficiently using advanced computational methods.
<h2> Motivation </h2>
CARG is motivated by the need to make health monitoring devices more accurate and reliable. By developing models and simulations, we aim to understand and improve how these devices interact with the human body.

<h2> Current Research </h2>
Here are some of their recent projects:
<ul>
<li> Model based device design: We’re also using simulations to improve the design and performance of devices that monitor cardiovascular and respiratory systems. For example, we explored how skin tone and other factors impact the accuracy of pulse oximeters. </li>
<li> CPAP and Heart Function: They studied how CPAP (a common therapy for sleep apnea) affects the heart. Interestingly, while CPAP can reduce cardiac output mechanically, it also increases it by reducing afterload.</li>
</ul>

<h2> Future Directions </h2>
Looking ahead, CARG wants to:
<ul>
<li>	Personalize Health Monitoring: We’re working on models that adapt to individual differences, making devices more accurate for everyone, regardless of their unique physiology.</li>
<li>	Use AI in Modeling: By integrating artificial intelligence, they hope to better predict how devices will perform and how they’ll affect patients.</li>
<li>	Build Real-Time Feedback Systems: They aim to create devices that can give immediate feedback to patients and healthcare providers, making healthcare decisions faster and better.</li>
</ul>

<div class="content-container">
  <h2>Motivation</h2>

  <!-- Section: Papers -->
  <section id="publications">
    <h2>Research Papers</h2>
    <div class="paper-grid">
      {% assign topic_papers = site.publications | where_exp: "item", "item.papertopic contains page.papertopic" %}
      {% for paper in topic_papers reversed %}
        <div class="paper-card">
            <dl><dt>{{ paper.citation }}</dt>
            <dd>- <em>Description</em>: {{ paper.excerpt }}</dd> </dl>
            <a href="{{ paper.url }}" class="btn">Read More</a>
        </div>
      {% endfor %}
    </div>
  </section>

  <!-- Section: Researchers -->
  <h2>Researchers</h2>
  {% assign people_sorted = site.people | sort: 'joined' %}
  {% assign role_array = "pi|postdoc|gradstudent|researchstaff|visiting|projectstudent|collaborators|alumni" | split: "|" %}

  {% for role in role_array %}

  {% assign people_in_role = people_sorted | where: 'position', role %}

  <!-- Skip section if there's nobody -->
  {% if people_in_role.size == 0 %}
    {% continue %}
  {% endif %}

  <!-- Additional check to skip empty roles with no valid profiles -->
{% assign valid_profiles = false %}
{% for profile in people_in_role %}
  {% if profile.field contains page.papertopic %}
    {% assign valid_profiles = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if valid_profiles == false %}
  {% continue %}
{% endif %}

  <div class="pos_header">
  {% if role == 'postdoc' %}
  <h3>Postdoctoral Fellows</h3>
   {% elsif role == 'pi' %}
  <h3>Principal Investigator</h3>
   {% elsif role == 'gradstudent' %}
  <h3>Graduate Students</h3>
   {% elsif role == 'researchstaff' %}
  <h3>Research Staff</h3>
   {% elsif role == 'visiting' %}
  <h3>Visiting Scholars</h3>
   {% elsif role == 'collaborators' %}
  <h3>Collaborators</h3>
  {% elsif role == 'projectstudent' %}
  <h3>M.Eng. and Undergrad Project Students</h3>
   {% elsif role == 'alumni' %}
  <h3>Alumni</h3>
  {% endif %}
  </div>


  <div class="content list people">
    {% for profile in people_sorted %}
      {% if profile.position contains role %}
       {% if profile.field contains page.papertopic %}
        <div class="list-item-people">
          <p class="list-post-title">
            {% if profile.avatar %}
              <a href="{{ site.baseurl }}{{ profile.url }}"><img class="profile-thumbnail" src="{{site.baseurl}}/images/people/{{profile.avatar}}" style="width: 70px;"></a>
            {% else %}
              <a href="{{ site.baseurl }}{{ profile.url }}"><img class="profile-thumbnail" src="http://evansheline.com/wp-content/uploads/2011/02/facebook-Storm-Trooper.jpg" style="width: 70px;"></a>
            {% endif %}
            <a class="name" href="{{ site.baseurl }}{{ profile.url }}">{{ profile.name }}</a>
          </p>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
  <hr>
{% endfor %}

<h2>External Collaborators</h2>
<h2>Alumni</h2>
